main.json
{
  "id": "x9VXeBrmzjjGqAx6",
  "meta": {
    "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa",
    "templateCredsSetupCompleted": true
  },
  "name": "Webhook for Leads from Landing Page → Jira Lead Task → Slack Hunter Bot",
  "tags": [],
  "nodes": [
    {
      "id": "ebe98592-e9c0-48ad-84ad-1edbae249d0f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [-32, 0],
      "webhookId": "73983463-2dbc-47a7-889d-0873939c2805",
      "parameters": {
        "path": "73983463-2dbc-47a7-889d-0873939c2805",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2.1
    },
    {
      "id": "b51b0788-95c2-4496-9bca-92be1310d4aa",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [208, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2b876b51-6cdb-4676-87eb-8e79781c529a",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.last_name }}",
              "rightValue": ""
            },
            {
              "id": "60913151-48cc-4f0f-ac77-648c6e6e8679",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.company_name }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2c69ba43-42a7-4cd4-a7e5-a4983cf78ebb",
      "name": "Create a lead",
      "type": "n8n-nodes-base.zohoCrm",
      "position": [464, -176],
      "parameters": {
        "Company": "={{ $json.body.company_name }}",
        "lastName": "={{ $json.body.last_name }}",
        "resource": "lead",
        "additionalFields": {
          "Email": "={{ $json.body.email }}",
          "Phone": "={{ $json.body.phone }}",
          "Industry": "={{ $json.body.referrer }}",
          "First_Name": "={{ $json.body.first_name }}",
          "Description": "={{ $json.body.description }}"
        }
      },
      "credentials": {
        "zohoOAuth2Api": {
          "id": "credential-id",
          "name": "zohoOAuth2Api Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "da80beae-44e9-4f5a-914c-cc9680cdbdef",
      "name": "Create an issue",
      "type": "n8n-nodes-base.jira",
      "position": [704, -176],
      "parameters": {
        "project": {
          "__rl": true,
          "mode": "list",
          "value": "10000",
          "cachedResultName": "n8n sample project"
        },
        "summary": "=New lead generated",
        "issueType": {
          "__rl": true,
          "mode": "list",
          "value": "10003",
          "cachedResultName": "Task"
        },
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "mode": "list",
            "value": "712020:9fe0da7f-b88e-404e-b973-5428ffe53eab",
            "cachedResultName": "Mobile1 Mobile1"
          },
          "priority": {
            "__rl": true,
            "mode": "list",
            "value": "2",
            "cachedResultName": "High"
          },
          "description": "=Company Name : {{ $('If').item.json.body.company_name }}\nName: {{ $('If').item.json.body.first_name }} {{ $('If').item.json.body.last_name }}\nEmail: {{ $('If').item.json.body.email }}\nPhone: {{ $('If').item.json.body.phone }}\nTitle: {{ $('If').item.json.body.title }}\nDescription: {{ $('If').item.json.body.description }}\nReferrer: {{ $('If').item.json.body.referrer }}"
        }
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "credential-id",
          "name": "jiraSoftwareCloudApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "dde75e9c-d208-47eb-a2fe-370933f30156",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [944, -176],
      "webhookId": "9d60b472-71a8-432a-b18f-78e9dc9d0e8d",
      "parameters": {
        "text": "=New lead created!! \n\nCompany Name : {{ $('If').item.json.body.company_name }}\nName: {{ $('If').item.json.body.first_name }} {{ $('If').item.json.body.last_name }} \nEmail: {{ $('If').item.json.body.email }} \nPhone: {{ $('If').item.json.body.phone }} \nTitle: {{ $('If').item.json.body.title }} \nDescription: {{ $('If').item.json.body.description }} \nReferrer: {{ $('If').item.json.body.referrer }}\n\nNew Jira task created\nTask id: {{ $json.key }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C09EV0SGCE5",
          "cachedResultName": "team-n8n-workflow"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "credential-id",
          "name": "slackOAuth2Api Credential"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "7861ab37-3d46-4826-b3bf-2c2190ff375e",
      "name": "Send a message1",
      "type": "n8n-nodes-base.slack",
      "position": [464, 192],
      "webhookId": "9d60b472-71a8-432a-b18f-78e9dc9d0e8d",
      "parameters": {
        "text": "=New lead processed but company name or last name is missing. Below are availabled details:\nName: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nCompany name: {{ $('Webhook').item.json.body.company_name }}\nEmail: {{ $('Webhook').item.json.body.email }}\nPhone: {{ $('Webhook').item.json.body.phone }}\nTitle: {{ $('Webhook').item.json.body.title }}\nDescription: {{ $('Webhook').item.json.body.description }}\nRefferer: {{ $('Webhook').item.json.body.referrer }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C09EV0SGCE5",
          "cachedResultName": "team-n8n-workflow"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "credential-id",
          "name": "slackOAuth2Api Credential"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "be41773d-5aaa-4639-95a4-e10acc609103",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-544, -304],
      "parameters": {
        "width": 368,
        "height": 688,
        "content": "## How it works\n\n•\tWebhook receives lead data (name, company, email, phone, title, description, referrer).\n•\tCheck if company_name and last_name are present.\n•\tIf either field is missing → send Slack message:\n•\t“Either last name or company name missing”\n•\tInclude all other submitted details.\n•\tIf both fields are present → create Zoho CRM Lead using webhook data.\n•\tAfter creating lead → create Jira Task with lead information.\n•\tAfter Jira task creation → send Slack message:\n•\t“New lead created!!”\n•\tDisplay all submitted details.\n•\tInclude the newly created Jira task ID.\n•\tWorkflow ends.\n\n## Setup Steps\n•\tWebhook expects: first_name, last_name, company_name, email, phone, title, description, referrer\n•\tZoho CRM → Create Lead → map all webhook fields\n•\tJira → Create Issue → select project → choose issue type\n•\tSlack → choose channel or user → send message with details and Jira task ID"
      },
      "typeVersion": 1
    },
    {
      "id": "068970fb-e033-4015-b063-673d29851508",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-112, -144],
      "parameters": {
        "color": 7,
        "width": 224,
        "height": 384,
        "content": "Receives incoming JSON data containing the lead information.\n\nTriggers the workflow whenever valid data is posted to the endpoint."
      },
      "typeVersion": 1
    },
    {
      "id": "df79aa00-a641-41bf-97dc-76f7ba95727b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [416, -368],
      "parameters": {
        "color": 7,
        "width": 704,
        "height": 448,
        "content": "Sends a message indicating missing required fields.\nIncludes all submitted lead details for quick review.\n\nSends a message indicating missing required fields.\nIncludes all submitted lead details for quick review.\n\nSends a message indicating missing required fields.\nIncludes all submitted lead details for quick review."
      },
      "typeVersion": 1
    },
    {
      "id": "54ec153f-2bc6-4095-be26-3532bffbc9ae",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [416, 112],
      "parameters": {
        "color": 7,
        "width": 704,
        "height": 320,
        "content": "Sends a message indicating missing required fields.\n\nIncludes all submitted lead details for quick review."
      },
      "typeVersion": 1
    },
    {
      "id": "aa5e3a8c-6249-4bdd-9a28-830ef89c6d7b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [144, -144],
      "parameters": {
        "color": 7,
        "width": 224,
        "height": 384,
        "content": "Checks whether company_name and last_name are provided.\n\nIf either is missing, the workflow follows the error path."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "email": "hyline@gmail.com",
            "phone": "9876543210",
            "title": "Mobile application creation",
            "referrer": "Pankaj Tripathi",
            "last_name": "Mahatre",
            "first_name": "Sachin",
            "description": "I want to create a mobile application developer",
            "company_name": "Hyland Hybrid"
          },
          "query": {},
          "params": {},
          "headers": {
            "host": "192.168.101.63:5678",
            "accept": "*/*",
            "connection": "keep-alive",
            "user-agent": "PostmanRuntime/7.49.1",
            "content-type": "application/json",
            "postman-token": "482c2f14-9a65-4f9d-b77a-90014245b528",
            "content-length": "276",
            "accept-encoding": "gzip, deflate, br"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/73983463-2dbc-47a7-889d-0873939c2805",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcf3a6cd-11d6-40fb-9cc5-85cf568335f7",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
